/* =============================================================================

    HERO CSS
    Property of Norex
    Authored by Josh Beveridge and Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */
$hero-height: 85vh;

/* Base ===================================================================== */
.hero__wrapper {
    position: relative;
}

.hero {
  width: 100%;
  min-height: $hero-height;
  position: relative;
  z-index: 1;
  margin: 0;
}

/* Hero Group (Slick) ======================================================= */
.hero__wrapper {

    .slick-list {
        z-index: 3;
    }

    .slick-list,
    .slick-track,
    .hero-item {
        height: $hero-height;
    }

    .slick-dots {
        text-align: right;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        display: none;
        z-index: 200;

        @media $(l-tablet) {
          display: block;
        }

    }

}

/* Hero Navigation Arrows =================================================== */
.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 50;
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    border-radius: 100%;
    transform: translate3d(0,-50%,0);
    cursor: pointer;
    background: transparent;
    transition: background 300ms ease 0ms;
    background: rgba(0,0,0,0.35);
    width: 3rem;
    height: 3rem;
    bottom: 0;
    top: auto;
    right: 1rem;
    left: auto;

    &:before {
        position: absolute;
        top: 50%;
        transform: translate3d(-50%,-50%,0);
    }

    @media $(p-tablet) {
        top: 50%;
        bottom: auto;
        display: block !important;
    }

    /* Prev */
    &.slick-prev {
        right: 4.5rem;

        &:before {
            left: 45%;
        }

        @media $(p-tablet) {
            left: 1rem;
        }

    }

    /* Next */
    &.slick-next {

        &:before {
            left: 55%;
        }

        @media $(p-tablet) {
            right: 1rem;
        }

    }

}

.slick-dots {
    list-style: none;
    padding: 1rem 0 0 0;
    margin: 0;
    width: 100%;
    text-align: center;

    li {
        display: inline-block;
        padding: 0 0.25rem;

        &.slick-active {

            button:after {
                display: block;
            }

        }

    }

    button {
        border-radius: 100%;
        text-indent: -9999px;
        background: white;
        width: 1rem;
        height: 1rem;
        display: block;
        position: relative;

        &:after {
            width: 0.5rem;
            height: 0.5rem;
            background: lime;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 100%;
            transform: translate3d(-50%,-50%,0);
            display: none;
            content: "";
            box-shadow: inset 0 5px 0 0 rgba(0,0,0,0.25);
        }

    }

}

.no-touchevents {

    .slick-arrow:hover {
        background: rgba(0,0,0,0.85);
        transition: background 300ms ease 0ms;
    }

}
