/* =============================================================================

    PALETTE CSS
    Property of Norex
    Authored by Josh Beveridge and Justin Bellefontaine

============================================================================= */

/* Gr(e/a)yscale ============================================================ */
$black: hsl(192, 5%, 19%);
$white: hsla(0, 0%, 100%, 1);

$gray: hsl(198, 4%, 53%);
$grey: hsl(198, 4%, 53%);

$gray-light: hsl(195, 17%, 91%);
$grey-light: hsl(195, 17%, 91%);

$gray-shade-1: hsl(0, 0%, 10%);
$gray-shade-2: hsl(0, 0%, 20%);
$gray-shade-3: hsl(0, 0%, 30%);
$gray-shade-4: hsl(0, 0%, 40%);
$gray-shade-5: hsl(0, 0%, 50%);
$gray-shade-6: hsl(0, 0%, 60%);
$gray-shade-7: hsl(0, 0%, 70%);
$gray-shade-8: hsl(0, 0%, 80%);
$gray-shade-9: hsl(0, 0%, 90%);

$grey-shade-1: hsl(0, 0%, 10%);
$grey-shade-2: hsl(0, 0%, 20%);
$grey-shade-3: hsl(0, 0%, 30%);
$grey-shade-4: hsl(0, 0%, 40%);
$grey-shade-5: hsl(0, 0%, 50%);
$grey-shade-6: hsl(0, 0%, 60%);
$grey-shade-7: hsl(0, 0%, 70%);
$grey-shade-8: hsl(0, 0%, 80%);
$grey-shade-9: hsl(0, 0%, 90%);

/* Custom Colours =========================================================== */
$red: hsla(0, 100%, 50%, 1);

/* Social Colours =========================================================== */
$gplus-brand: hsl(7, 71%, 55%);
$twitter-brand: hsl(206, 82%, 63%);
$linkedin-brand: hsl(202, 90%, 37%);
$facebook-brand: hsl(221, 44%, 41%);
