/* =============================================================================

    SETTINGS CSS
    Property of Norex
    Authored by Josh Beveridge and Justin Bellefontaine

============================================================================= */

/* Media Variables ========================================================== */
$portrait: screen and (orientation: portrait);
/*$(portrait) {}*/

$landscape: screen and (orientation: landscape);
/*$(landscape) {}*/

$p-phone: screen and (min-width: 320px);
/*$(p-phone) {}*/

$l-phone: screen and (min-width: 480px);
/*$(l-phone) {}*/

$p-tablet: screen and (min-width: 48em);
/*$(p-tablet) {}*/

$l-tablet: screen and (min-width: 64em);
/*$(l-tablet) {}*/

$desktop: screen and (min-width: 64.01em);
/*$(desktop) {}*/

$cinema: screen and (min-width: 100em);
/*$(cinema) {}*/

$cinema-xl: screen and (min-width: 110em);
/*$(cinema-xl) {}*/

/* Sections ================================================================= */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
}

/* Typekit Font Pop Fix ===================================================== */
html {
    opacity: 0;
    transition: opacity 300ms ease 0ms;

    /* Fade in the document when webfonts are loaded */
    /* NOTE: This only works if Typekit is included and initialized */
    &.wf-active {
        opacity: 1 !important;
        transition: opacity 300ms ease 0ms;
    }

}

section {
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
}

/* Elements ================================================================= */
img,
iframe {
    max-width: 100%;
}

/* Custom WP Image Styles =================================================== */
[class*="wp-image"] {
    height: auto !important;
}

[class*="wp-image"].alignnone {

    @media $(l-tablet) {

    }

}

.wp-image__wrapper {
    margin: 2rem 0;
}

/* SVG Dimension Fix for IE ================================================= */
[src*=".svg"] {
    max-height: 100%;
}

/* Inline Layout ============================================================ */
.inline-layout {
    line-height: 1;
    margin: 0;
    padding: 0;

    dt {
        display: none;
    }

    dd {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
    }

    &.justify {
        text-align: justify;
        font-size: 1px;
        font-size: 0;

        dd {
            font-size: 1rem;
        }

        dl {
            text-align: left;

            &.justify {
                text-align: justify;
            }

        }

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
            font-size: 0;
            line-height: 0;
        }

    }

}

/* Outdated Browser Note ==================================================== */
.dated-browser-note {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    color: white;
    font-weight: 700;
    padding: 1rem;
    z-index: 9999;
    text-align: center;
    display: block;
}

/* Icon Spacing ========================================================== */
[class*="ion-"]:before,
[class*="fa-"]:before {
    margin-right: 0.3rem;
}

/* Error Page ============================================================ */
.error-type {
    color: $red !important;
    font-size: 6rem !important;
    font-weight: 100 !important;
    margin: 0 !important;
}

.error-desc {
    margin: 0 0 2rem !important;
}

/* Helper Classes ======================================================== */
.full-wide {
    width: 100% !important;
}

.alignleft,
.alignright {
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

.alignleft {
    margin: 0 0 1rem 0;

    @media $(p-tablet) {
        float: left;
        margin: 0 2rem 1rem 0;
    }

}

.alignright {
    margin: 0 0 1rem 0;

    @media $(p-tablet) {
        float: right;
        margin: 0 0 1rem 2rem;
    }

}

.hide-overflow {
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.flush-top {
    padding-top: 0 !important;
}

.flush-bottom {
    padding-bottom: 0 !important;
}

.flush {
    padding: 0 !important;
}
