/* =============================================================================

    TYPOGRAPHY CSS
    Property of Norex
    Authored by Josh Beveridge and Justin Bellefontaine

============================================================================= */

/* Google Fonts ============================================================= */

/* Typekit Fonts ============================================================ */

/* Custom Fonts ============================================================= */

/* Font Standard ============================================================ */
html,
body {
    font-size: 100%;
}

/* Sitewide Typography ====================================================== */
::selection {
    background: $black;
    color: $white;
}

/* Buttons */
.button,
.button:focus,
.button:active,
.button:link,
.button:visited,
input[type='submit'] {

}

button {
    border: none;
    box-shadow: none;
    outline: none;
}

/* Inputs */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: none;
    border: none;
    box-shadow: none;
}

dl {
    margin: 0;
    padding: 0;

    dt {
        display: none;
    }

    dd {
        margin: 0;
        padding: 0;
    }

}

/* Tables */
table {
    width: 100%;
}

/* Content Typography ======================================================= */
.content-container {

    /* Headings */
    h1 {font-size: 2rem;}
    h2 {font-size: 1.8rem;}
    h3 {font-size: 1.6rem;}
    h4 {font-size: 1.4rem;}
    h5 {font-size: 1.3rem;}
    h6 {font-size: 1.2rem;}

    h1, h2, h3, h4, h5, h6 {
        color: $black;
        margin: 2.5rem 0 1rem 0;
    }

    /* Body Font */
    p,
    blockquote, {
        color: $black;
        margin: 1rem 0;
    }

    p {

    }

    span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    hr {
        border: none;
        border-top: 1px solid $black;
        height: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    blockquote {

    }

    /* Anchors */
    a,
    a:visited,
    a:link {

        &:not(.button) {

        }

    }

    /* Lists */
    ul {
        margin: 1rem 0 1rem 1rem;
        padding: 0;
    }

}

/* Forms ==================================================================== */
textarea {
    width: 100%;
    min-height: 250px;
}

.checkbox-radio-list > dd {
    width: 100%;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 70em) {

    .checkbox-radio-list > dd {
        width: auto;
        margin: 0;
        padding-right: 1rem;
    }

}

/* Checkbox and Radios =================================================== */

/* Checkbox & Radio */
$checkbox-radio-size: 22px;
$checkbox-radio-border: 2px solid #222;
$checkbox-radio-border-hover: 2px solid #666;
$checkbox-radio-border-active: 2px solid #ed1556;
$checkbox-radio-background: #fff;
$checkbox-radio-label-spacing: 5px;

/* Checkboxes Only */
$checkbox-radius: 0;
$checkbox-check-size: 0.65rem;
$checkbox-check-position: 0.25rem;
$checkbox-check-color: #222;
$checkbox-check-color-active: #ed1556;
$checkbox-check-font: 'FontAwesome';
$checkbox-check-font-size: 0.8rem;
$checkbox-check-icon: '\f00c';

/* Radios Only */
$radio-radius: 100%;
$radio-dot-size: 0.45rem;
$radio-dot-color: #222;
$radio-dot-color-active: #ed1556;
$radio-dot-radius: 100%;

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-transform: none;

    &:hover {
        color: inherit !important;
    }

    em {
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
    }

}

input[type="radio"],
input[type="checkbox"] {
    height: $checkbox-radio-size;
    width: $checkbox-radio-size;
    vertical-align: middle;
    border: none;
    transition: all 0.2s ease 0s;
    display: none;
    appearance: none;

    + label {
        margin: 0;
        cursor: pointer;
    }

    + label span {
        width: $checkbox-radio-size;
        height: $checkbox-radio-size;
        display: inline-block;
        border: $checkbox-radio-border;
        background: $checkbox-radio-background;
        vertical-align: middle;
        margin-right: $checkbox-radio-label-spacing;
        cursor: pointer;
    }

}

/* Border radius for radio inputs */
input[type="radio"] {

    + label span {
        border-radius: $radio-radius;
    }

}

/* Border radius for checkbox inputs */
input[type="checkbox"] {

    + label span {
        border-radius: $checkbox-radius;
    }

}

/* Hover state for both checkboxes and radio buttons */
input[type="radio"]:not(:disabled):hover,
input[type="checkbox"]:not(:disabled):hover {
    border: $checkbox-radio-border-hover;
    transition: all 0.2s ease 0s;
}

/* Focus state for both checkboxes and radio buttons */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
}

/* Input checked border color for both checkboxes and radio buttons */
input[type="radio"]:checked + label span,
input[type="checkbox"]:checked + label span {
    border: $checkbox-radio-border-active;
    transition: all 0.2s ease 0s;
}

/* Unchecked state for radio inputs */
input[type="radio"] + label span:before {
    display: block;
    top: 0;
    opacity: 0;
    transition: all 0.2s ease 0s;
    position: relative;
}

/* Checked state for radio inputs */
input[type="radio"]:checked + label span:before {
    opacity: 1;
    height: $radio-dot-size;
    width: $radio-dot-size;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: $radio-dot-color;
    border-radius: $radio-dot-radius;
    transition: all 0.2s ease 0s;
    content: '';
}

/* Unchecked state for checkbox inputs */
input[type="checkbox"] + label span:before {
    display: block;
    top: 0;
    opacity: 0;
    transition: all 0.2s ease 0s;
    position: relative;
    line-height: 1;
}

/* Hover state for checkbox input labels */
input[type="checkbox"] + label:hover {

    span:before {
        opacity: 1;
        color: $checkbox-check-color;
        font-size: $checkbox-check-font-size;
        font-family: $checkbox-check-font;
        content: $checkbox-check-icon;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 0.2s ease 0s;
        -webkit-margin-start: 0;
        margin-left: 1px !important;
    }

}

/* Hover state for radio input labels */
input[type="radio"] + label:hover {

    span:before {
        opacity: 1;
        height: $radio-dot-size;
        width: $radio-dot-size;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: $radio-dot-color;
        border-radius: $radio-dot-radius;
        transition: all 0.2s ease 0s;
        content: '';
    }

}

/* Checked state for checkbox inputs */
input[type="checkbox"]:checked + label span:before {
    opacity: 1;
    color: $checkbox-check-color-active;
    -webkit-margin-start: 0;
    font-size: $checkbox-check-font-size;
    transition: all 0.2s ease 0s;
    font-family: $checkbox-check-font;
    content: $checkbox-check-icon;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-left: 1px;
}

/* Disabled state for both checkbox and radio inputs */
input:disabled {
    opacity: 0.5;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;

    + label {
        opacity: 0.6;
        cursor: default;
        transition: all 0.2s ease 0s;
        -webkit-user-select: none;
    }

}

/* Social Icons ========================================================== */

/* 

    <!-- SAMPLE LAYOUT -->

    <dl class="inline-layout social-icons medium">
        <dd><a href class="ion-social-facebook"></a></dd>
        <dd><a href class="ion-social-twitter"></a></dd>
        <dd><a href class="ion-social-linkedin"></a></dd>
    </dl>

*/

/* Social Icon Variables */

$social-icons-small-size: 40px;
$social-icons-medium-size: 50px;
$social-icons-large-size: 60px;

$social-icons-small-font-size: 21px;
$social-icons-medium-font-size: 24px;
$social-icons-large-font-size: 30px;

.social-icons {

    > dd {
        padding: 0 0.25rem;
    }

    a {
        border-radius: 100%;
        text-align: center;
        position: relative;
        padding: 50% 0;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            margin: 0;
        }

        /* Facebook */
        &[class*="facebook"] {
            background: $facebook-brand;
        }

        /* LinkedIn */
        &[class*="linkedin"] {
            background: $linkedin-brand;
        }

        /* Twitter */
        &[class*="twitter"] {
            background: $twitter-brand;
        }

        /* LinkedIn */
        &[class*="googleplus"] {
            background: $gplus-brand;
        }

    }

    /* Small Size */
    &.small {

        a {
            font-size: $social-icons-small-font-size;
            width: $social-icons-small-size;
        }

    }

    /* Medium Size */
    &.medium {

        a {
            font-size: $social-icons-medium-font-size;
            width: $social-icons-medium-size;
        }

    }

    /* Large Size */
    &.large {

        a {
            font-size: $social-icons-large-font-size;
            width: $social-icons-large-size;
        }

    }

}

/* Gravity Forms ========================================================= */
.gform_fields {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    > li {
        margin: 1.5rem 0;

        > label {
            font-weight: 700;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            font-size: 0.5rem;
            letter-spacing: 5px;
        }

    }

}

/* Double input layout */
.ginput_complex > span {
    display: inline-block;
    width: 100%;
    margin: 0.5rem 0;

    @media $(l-tablet) {
        width: 48%;

        &:nth-child(2n) {
            margin-left: 2%;
        }

    }

}

/* Gravity Form Errors */
.gfield_error {

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        border-color: $red;
    }

    .validation_message {
        background: $red;
        padding: 0.5rem 0.75rem;
        color: #fff;
        font-size: .6rem;
        font-weight: 700;
        display: inline-block;
    }

}

.validation_error {
    color: $red;
    font-weight: 700;
    margin-top: 1rem;
}

/* Spacing for checkboxes and radios */
.gfield_checkbox > li,
.gfield_radio > li {
    margin: 0.25rem 0;
}
